Не нарушайте законы России и страны, в которой Вы находитесь в данный момент. Детская порнография и ее имитация, в т.ч. и рисованная, наркотики, терроризм, суицид запрещены, даже если они разрешены вашими местными законами.
Деанонимизация, публикация персональных данных и агрессивное преследование (травля) не приветствуются. Набеги на внутренние разделы запрещены.
Главное — не количество, а качество. Посты и файлы, не несущие никакой полезной информации, именуются шитпостингом и могут быть удалены, а постеры — забаненыю
Жалобы на администрацию, модерацию, обсуждение правил рассматриваются только в {{TOXIC_CHANNEL_LINK}}. В других разделах подобные дискуссии могут быть удалены, а постеры — забанены
Призывы к нанесению вреда доске тредов запрещены в любом виде.
Не используйте средства автопостинга.
Вайпы, спам, обход  — запрещены.
Вредоносные ссылки и реклама во всех ее проявлениях не приветствуются, включая рекламу с целью обогащения, реферальные ссылки, стримы, донаты и попрошайничество.
Выдавать себя за модератора или распространять информацию от лица администрации/модсостава запрещено
Администрация оставляет за собой право удалять контент и ограничивать доступ к ресурсу без предупреждения.
